{% extends "base.html" %}

{% block content %}
    <h1>Areas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for area in areas %}
                <tr>
                    <td>{{ area.id }}</td>
                    <td>{{ area.type }}</td>
                    <td>{{ area.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
